#userFormTable td {
	padding: 5px;
}
#userFormTable {
	margin: 10px;
}

#datatable td {
	text-align: center;
}
#addUserButton, #deleteUserButton {
	background-color: green;
	color: white;
	width: 150px;
	height: 30px;
}

h2 {
	font-style: bold; 
}
